html {
    font-family: "Inter";
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(9, 7, 37, 0.86);
    flex-direction: column;
    gap: 50px;
}
.title {
    font-size: 48px;
    color: rgb(188, 247, 236);
    font-weight: 700;
    margin: 0;
}
.Food {
    font-size: 32px;
    color: white;
    font-weight: 600;
}
.button {
    width: 210px;
    height: 50px;
    border-radius: 20px;
    font-weight: 700;
    font-size: 28px;
    border: 2px solid;
    cursor: pointer;
}
.button:hover {
    transform: scale(1.05);
}
